body {
    background: rgb(133,72,71);
    background: linear-gradient(180deg, rgba(133,72,71,1) 0%, rgba(143,141,126,1) 50%, rgba(154,161,177,1) 100%);    width: 700px;
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* bienvenida*/

#bien h1 {
    color: #9aa1b3;
    display: flex;
    justify-content: center;
}

#bien p {
    color: #9aa1b3;
    display: flex;
    justify-content: center;
}

/* menu */
nav {
    display: flex;
    justify-content: center;
}

nav>li {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

nav>li>a {
    display: block;
    padding: 15px 20px;
    font-family: 'Open Sans';
    text-decoration: none;
    font-size: 24px;
    padding: 20px;
}

nav li a:hover {
    font-weight: 900;
    color: #7e4b48;
    transition: all .5s;
}

ul {
    display: flex;
    list-style: none;
    background-color: #9f8564;
    padding: 0;
    height: 70px;
}

a {
    padding: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #e4e0c7;
}

li {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    display: flex;

}

/*wonito*/

#principal h3{
    color: #743b2a;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

#principal h5{
    color: #525048;
    font-size: 18px;
    padding-left: 15px;
}

#principal img{
    filter: grayscale();
}

#principal img:hover{
    filter: brightness();
}

/* Extras */

#principal {
    background: #9f8564;
}

.contenedor {
    border: 3px solid #f6b66f;
    margin-top: 15px;
    display: flex;
}

.contenedor>div>img {
    background: #9f8564;
    color: #fff;
    width: 125px;
    height: 145px;
    font-size: 2em;
    margin: 4px;
}

.contenedor>div>p {
    margin: 20px;
}

/* ahora si pa */

#caja1 {
    flex-direction: row;
}

#caja1>div {
    background: #70704e;
}

/* caja 2 */
#caja2 {
    flex-direction: row-reverse;
}

#caja2>div {
    background: #70704e;
}

/* caja 3 */
#caja3 {
    width: 130px;
    flex-direction: column;
}

#caja3>div {
    background: #70704e;
}

#caja3>div>p {
    padding-top: 60px;
}



/* caja 4 */
#caja4 {
    width: 130px;
    flex-direction: column-reverse;
}

#caja4>div {
    background: #70704e;
}

#caja4>div>p {
    padding-top: 38px;
}

/* caja 5 */
#caja5 {
    width: 130px;
    flex-wrap: wrap;
}

#caja5>div {
    background: #70704e;
}

#caja6>div>p {
    padding-left: 24px;
}

/* caja 6 */
#caja6 {
    width: 130px;
    flex-wrap: nowrap;
}

#caja6>div {
    background: #70704e;
}

#caja5>div>p {
    padding-top: 87px;
}

/* caja 7 */
#caja7 {
    width: 130px;
    flex-wrap: wrap-reverse;
}

#caja7>div {
    background: #70704e;
}

#caja7>div>p {
    padding-top: 76px;
}

/* caja 8*/
#caja8 {
    justify-content: flex-start;
}

#caja8>div {
    background: #70704e;
}

/* caja 9*/
#caja9 {
    justify-content: flex-end;
}

#caja9>div {
    background: #70704e;
}

/* caja 10*/
#caja10 {
    justify-content: center;
}

#caja10>div {
    background: #70704e;
}

/* caja 11*/
#caja11 {
    justify-content: space-between;
}

#caja11>div {
    background: #70704e;
}

/* caja 12*/
#caja12 {
    justify-content: space-around;
}

#caja12>div {
    background: #70704e;
}

/* footer */

.redes img {
    width: 30px;
}

.redes a {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #3a1a18;
    width: 700px;
}

footer h3 {
    margin: 0;
    color: #eeba93  ;
}

footer h4 {
    margin: 0;
    color: #eeba93  ;

}